.footer {
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.footer-container {
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* Cột chung */
.footer-col h1 {
  color: #4b8437;
  font-size: 25px;
  margin-bottom: 10px;
}
/* Logo + tên */
.footer-col:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-col:first-child img {
  width: 45px;
}

.footer-col:first-child h1 {
  font-size: 24px;
  margin: 0;
}

.footer-col:first-child p {
  color: #6b6b6b;
  line-height: 1.6;
}

/* Liên kết nhanh */
.footer-col a {
  display: block;
  text-decoration: none;
  color: #4b8437;
  margin-bottom: 10px;
  font-size: 17px;
  transition: all 0.2s ease;
}

.footer-col a:hover {
  color: #2e9e4d;
  padding-left: 6px;
}

/* Liên hệ */
.footer-col-info p {
  color: #4b8437;
  margin-bottom: 8px;
}

/* Mạng xã hội */
.footer-col-link img {
  width: 32px;
  margin-right: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer-col-link img:hover {
  transform: scale(1.15);
}

/* Copyright */
.footer-copyright {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #e5e5e5;
}

.footer-copyright p {
  color: #4b8437;
  font-size: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-col-link img {
    margin-right: 8px;
  }
}
